;; Analyzed by ClojureScript 1.7.48
{:use-macros nil, :excludes #{}, :name ganja-jedi.pres, :imports nil, :requires {ajax ajax.core, ajax.core ajax.core}, :uses {POST ajax.core, GET ajax.core}, :defs {get-news-posts {:protocol-inline nil, :meta {:file "/home/deathgrindfreak/bin/ganja-jedi/src/cljs/ganja_jedi/pres.cljs", :line 4, :column 7, :end-line 4, :end-column 21, :arglists (quote ([])), :doc "Ajax call for getting news posts"}, :name ganja-jedi.pres/get-news-posts, :variadic false, :file "src/cljs/ganja_jedi/pres.cljs", :end-column 21, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 0, :fn-var true, :arglists (quote ([])), :doc "Ajax call for getting news posts"}}, :require-macros nil, :cljs.analyzer/constants {:seen #{:keywords? :response-format :error-handler :json :handler}, :order [:handler :error-handler :response-format :keywords? :json]}, :doc nil}