body {
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    background-size: auto;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    max-width: 100%;
    min-width: 100%;
}

#navbar {
    font-size: 1.1em;
}

nav.navbar {
    color: #efefef;
}

#navbar, .container-fluid {
    padding-left: 0;
    margin-left: 0;
}

.container-fluid {
    padding-right: 0;
    margin-right: 0;
}

.navbar-ganja {
    background-color: #212121;
    border-color: #000;
}

.content {
    background-color: #212121;
    padding: 5px;
    padding-right: 15px;
    border-radius: 6px;
}

.page-content {
    border-radius: 6px;
    background-color: #efefef;
    margin: 5px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    height: 100%;
    width: 100%;
}

.page-content h3 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.news-content {
    padding: 15px;
    background-color: #dedede;
    box-shadow: 5px 5px 5px #444;
}

footer {
    color: #bababa;
    margin-top: 20px;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .container, #navbar, .content, .page-content {
        width: 100%;
    }
    
    #navbar, .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .content, .page-content {
        border-radius: 0;
    }

    .navbar {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .navbar-header {
        height: 25px;
    }

    ul.nav {
        padding: 0;
        margin: 5px;
    }

    button.navbar-toggle {
        float: left;
        margin-left: 10px;
        border: none;
    }

    footer {
        padding-top: 0;
        padding-bottom: 10px;
    }
}